<!--<StackLayout class="p-20">-->
<!--  <Label-->
<!--    automationText="helloLabel"-->
<!--    [text]="'hello' | translate"-->
<!--    class="h1 p-10 text-center"-->
<!--  ></Label>-->
<!--</StackLayout>-->
<ActionBar title="Home"></ActionBar>
<GridLayout>
  <Canvas #canvas visibility="visible" (ready)="onCanvasReady($event)"></Canvas>
  <StackLayout class="card" #bottomCard>
    <Image [src]="bottomImageUrl" class="card-image"></Image>
  </StackLayout>
  <StackLayout class="card top-card" #topCard>
    <Image [src]="topImageUrl" (pan)="onPan($event)" class="card-image"></Image>
  </StackLayout>
</GridLayout>
